* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}

body {
  padding-bottom: 20px;
}

header {
  background-color: #342a31;
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

h1 {
  color: #b2a4d0;
  font-size: 45px;
  font-weight: 800;
  margin: 0;
}

h1:after {
  color: #ffffff;
  content: 'triples';
}

#search {
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 20px;
  font-weight: 100;
  height: 32px;
  margin-top: 9px;
  padding-left: 8px;
  width: 230px;
}

input:focus,
textarea:focus,
.editable:focus {
  outline-color: #b2a4d0;
  outline-style: auto;
  outline-width: 4px;
}

.search-icon {
  background-color: #aeaab7;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  height: 32px;
  margin-left: -4px;
  padding: 0 8px;
}

main {
  background-color: #ecf2f2;
}

form {
  margin: auto;
  max-width: 700px;
  width: 80%;
}

label {
  display: block;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 5px;
}

.title-label {
  padding-top: 20px;
}

#title-input,
#body-input,
.save {
  border: none;
  border-radius: 5px;
  width: 100%;
  box-shadow: 1px 0 1px #bababa, -0.2em 0 0.8em #bababa;

 }

#title-input {
  height: 40px;
}

#body-input {
  height: 100px;
  resize: none;
}

.save { 
  background-color: #5f5b6c;
  color: white;
  font-size: 21px;
  font-weight: 800;
  height: 40px;
  margin-bottom: 20px;
}

.save:disabled {
  opacity: .5;
}

.char-count {
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: right;
}

.filter-buttons,
.show-more-or-less {
  display: grid;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto 0;
  max-width: 700px;
  width: 80%;
}

.filter-buttons button,
.show-more-button,
.show-less-button {
  background-color: #5f5b6c;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  height: 30px;
}

.show-more-button,
.show-less-button {
  grid-column: 2/3;
}

button:disabled {
  background-color: #b2a4d0;
  box-shadow: 0 0 3px #5f5b6c;
}

.card {
  border: solid 1px #D2CCCD;
  border-radius: 5px;
  color: #5f5b6c;
  display: grid;
  grid-template-rows: 1fr 45px;
  min-height: 180px;
  margin: auto;
  margin-top: 23px;
  max-width: 700px;
  width: 80%;
  box-shadow: 1px 0 1px #bababa, -0.2em 0 0.8em #bababa;
}

.searchable {
  line-height: 40px;
  padding: 20px;
}

.card-title {
  font-weight: 800;
}

.card-body {
  font-weight: 100;
  padding: 20px 0;
}

.card-footer {
  align-items: center;
  border-top: solid 1px #D2CCCD;
  display: grid;
  font-weight: 800;
  grid-column-gap: 10px;
  grid-template-columns: 30px 30px 1fr 30px;
  padding: 5px 10px;
}

.svg {
  width: 27px;
}

.show-more-button::before {
  content: "Show More";
}

.show-less-button::before {
  content: "Show Less";
}

@media screen and (max-width: 700px) {
  header {
    display: grid;
    justify-content: center;
  }

  #search {
    width: 269px;
  }

  .search-icon {
    margin: -5px;
  }

  form,
  .filter-buttons,
  .card,
  .show-more-or-less {
    width: 95%;
  }
}


.filter-quality:hover, .save:hover:enabled, .show-more-button:hover{
  color:black;
  background-color: #b2a4d0;
  transition-delay: .05s;
}